h1{
  text-align: center;
  margin: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
    background-color: rgb(228, 142, 84);
    border: 1px solid black;
    padding: auto;
  }


  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  
