<form class="example-form" [formGroup]="alumnoForm" (ngSubmit)="crearAlumno()">
    <mat-form-field class="example-full-width">
        <mat-label>Cédula</mat-label>
        <input matInput type="text" id="cedula_alumno" [formControl]="alumnoForm.controls['cedula_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['cedula_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre Alumno</mat-label>
        <input matInput type="text" id="nombre_alumno" [formControl]="alumnoForm.controls['nombre_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['nombre_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido Alumno</mat-label>
        <input matInput type="text" id="apellido_alumno" [formControl]="alumnoForm.controls['apellido_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['apellido_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput type="date" id="fechaNacimiento_alumno" [formControl]="alumnoForm.controls['fechaNacimiento_alumno']" (change)="onFechaNacimientoChange($event.target.value)" required>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Contacto Alumno</mat-label>
        <input matInput type="text" id="telefono_alumno" [formControl]="alumnoForm.controls['telefono_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['telefono_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Dirección de Domicilio</mat-label>
        <input matInput type="text" id="direccion_alumno" [formControl]="alumnoForm.controls['direccion_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['direccion_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Correo Electrónico Alumno</mat-label>
        <input matInput type="email" id="email_alumno" [formControl]="alumnoForm.controls['direccion_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['email_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" id="contrasenia_alumno" [formControl]="alumnoForm.controls['contrasenia_alumno']" required>
        <mat-error *ngIf="alumnoForm.controls['contrasenia_alumno'].invalid"> Debe llenar este campo
        </mat-error>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Jornada</mat-label>
        <mat-select id="id_jornada" [formControl]="alumnoForm.controls['id_jornada']" #idjornadaSelect (selectionChange)="onJornadaSelectionChange($event)">
          <mat-option *ngFor="let value of jornada" [value]="value.nombre_jornada">
              {{ value.nombre_jornada }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Nivel</mat-label>
        <mat-select id="id_nivel" [formControl]="alumnoForm.controls['id_nivel']" #idNivelSelect (selectionChange)="onNivelSelectionChange($event)">
          <mat-option *ngFor="let value of nivel" [value]="value.nombre_nivel">
              {{ value.nombre_nivel }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Paralelo</mat-label>
        <mat-select id="id_paralelo" [formControl]="alumnoForm.controls['id_paralelo']" #idParaleloSelect (selectionChange)="onParaleloSelectionChange($event)">
          <mat-option *ngFor="let value of paralelo" [value]="value.nombre_paralelo">
              {{ value.nombre_paralelo }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Carrera</mat-label>
        <mat-select id="id_carrera" [formControl]="alumnoForm.controls['id_carrera']" #idCarreraSelect (selectionChange)="onCarreraSelectionChange($event)">
          <mat-option *ngFor="let value of carrera" [value]="value.nombre_carrera">
              {{ value.nombre_carrera }}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="primary" class="button_alumno" type="submit">
        Guardar
      </button>
  </form>