<form class="example-form">
    <mat-form-field  class="example-full-width" >
        <input class="input1" type="text" placeholder="Cédula" id="cedula" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Nombre Alumno" id="nombre" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Apellido Alumno" id="apellido" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
        <input type="date" placeholder="Fecha de nacimiento" id="nacimiento" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Contacto Alumno" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Dirección" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br><br>
    <button mat-button style="background-color:#125496; color:white; margin: 2px 2px 15px 2px;">Ingresar Infomación</button>
  </form>