.calendar-table {
    border-collapse: collapse;
    position: absolute;
}

.calendar-table th,
.calendar-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.calendar-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.calendar-table td {
    text-align: center;
}
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}