<div class="select-container">
    <mat-form-field class="select-container">
        <mat-select placeholder="Seleccione la Jornada">
          <mat-option *ngFor="let value of jornadas" [value]="value.nombre_jornada">
            {{ value.nombre_jornada }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="select-container">
    <mat-form-field class="select-container">
        <mat-select placeholder="Seleccione la Carrera">
          <mat-option *ngFor="let value of carrera" [value]="value.nombre_carrera">
            {{ value.nombre_carrera }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="select-container">
    <mat-form-field class="select-container">
        <mat-select placeholder="Seleccione el Nivel">
          <mat-option *ngFor="let value of nivel" [value]="value.nombre_nivel">
            {{ value.nombre_nivel }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="calendar-container">
<table class="calendar-table">
    <thead>
        <tr>
            <th *ngFor="let dia of dias">{{ dia.nombre_dia }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dia of dias">
            <th *ngFor="let dia of dias"> <app-crudhorario></app-crudhorario> Agregar</th>
        </tr>
    </tbody>
</table>
        <!-- Otro ejemplo, podemos usar un servicio aquí -->
</div>
