.select-container{
    display: block;
    justify-content: center;
    align-items: center;
}
.calendar-table {
    border-collapse: collapse;
    position: absolute;
}
.calendar-table th,
.calendar-table td {
    border: 5px solid #ccc;
    padding: 8px;
}
.calendar-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: large;
    text-align: center;
    min-width: 50px;
    width: 100px; 
}
.calendar-table tbody tr th{
    font-size: small;
}
.calendar-table td {
    text-align: center;
}
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.titulo-contenedor {
    display: flex;
    justify-content: center;
  }
.titulo-contenedor h1 {
    text-align: center;
  }
h1{
    text-align: center;
}