<p>admin works!</p>
<h3>Ingresar Información</h3>
  <table id="myTable">
    
    <thead>
      <tr>
        <th>Nombre Docente</th>
        <th>Aula</th>
        <th>Asignatura</th>
        <th>Paralelo</th>
        <th>Jornada</th>
        <th>Hora</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>Catamarca</td>
        <td>Administración</td>
        <td>3ero "A"</td>
        <td>Matutino</td>
        <td>7:00am - 8:00am</td>
        <td>
          <button>Editar</button>
          <button>Eliminar</button>
          <button>Guardar</button>
        </td>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>Catamarca</td>
        <td>Administración</td>
        <td>3ero "A"</td>
        <td>Matutino</td>
        <td>7:00am - 8:00am</td>
        <td>
            <button>Editar</button>
            <button>Eliminar</button>
            <button>Guardar</button>
        </td>
      </tr>
      <tr>
        <td>John Doe</td>
        <td>Catamarca</td>
        <td>Administración</td>
        <td>3ero "A"</td>
        <td>Matutino</td>
        <td>7:00am - 8:00am</td>
        <td>
            <button>Editar</button>
            <button>Eliminar</button>
            <button>Guardar</button>
        </td>
      </tr>
    </tbody>
  </table>
