<!-- Name Column -->
<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Solicitar Cambio de Hora</mat-label>
        <input matInput type="text" id="hora_cambio">
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Solicitar Cambio de Aula</mat-label>
        <input matInput type="text" id="aula_cambio">
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Solicitar Cambio de Asignatura</mat-label>
        <input matInput type="text" id="materia_cambio">
      </mat-form-field>
      <br><br>
      <mat-form-field class="example-full-width">
        <mat-label>Solicitar Cambio de Jornada</mat-label>
        <input matInput type="text" id="jornada_cambio">
      </mat-form-field>
      
    <br><br>
    <button class="button_alumno" mat-button>Solicitar Cambio</button>
  </form>