<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menú</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item (click)="changeCondition('default')">
          <mat-icon>home</mat-icon> Inicio
        </a>
        <a mat-list-item (click)="changeCondition('case1')">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-person-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
          Ver Horario</a>
        <a mat-list-item (click)="changeCondition('case2')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
          Solicitar Cambio</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="titulo">{{ title }}</span>
      </mat-toolbar>
  
      <div class="container" [ngSwitch]="condition">
        <div *ngSwitchCase="'case1'" class="titulointerior">
          <h1>    Ver Horario       </h1>
        </div>
        <div *ngSwitchCase="'case2'" class="titulointerior">
          <h1>    Solicitar Cambio  </h1>
        </div>
      </div>
      <div [ngSwitch]="condition">
        <div *ngSwitchCase="'case1'" class="cuadrointerior">
          <!-- CRUD -->
        </div>
        <div *ngSwitchCase="'case2'" class="cuadrointerior">
            <app-cambiodocente></app-cambiodocente>
        </div>
        <div *ngSwitchDefault class="cuadrointerior">
          <app-vistarapida></app-vistarapida>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
